body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/ladies-hostel.jpeg') no-repeat center center/cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Ensure body is relative for absolute positioning */
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha (0.5) for the desired dimming effect */
    z-index: -1; /* Place it behind other content */
}

.login-container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-right: auto; 
    margin-top: 150px;
}

.login-form h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #555;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.input-group .input-group-append .btn {
    height: calc(1.5em + .75rem + 2px);
    margin-left: 5px;
}